[Desktop Entry]
Type=Application
Name=Bomberclone
Comment=Play a Bomberman like game
Icon=bomberclone
Exec=bomberclone
Terminal=false
Categories=Game;
